mat-accordion {
  margin-left: 2rem;
  margin-right: 2rem;
}

mat-card-content > p {
  margin: 0.75rem 0;
}

.dates {
  margin-bottom: 1rem;
}

.dates > p {
  display: inline-block;
  width: 10rem;
  vertical-align: middle;
  margin: 0 0.5rem;
}

.post-button {
  padding: 1rem;
  margin-top: 1rem;
}
