mat-accordion {
  margin-left: 2rem;
  margin-right: 2rem;
}

.blog img {
  margin: 1rem;
  width: 100%;
  max-width: 16rem;
}

mat-card-content > p {
  margin: 0.75rem 0;
}

.post-button {
  padding: 1rem;
  margin-top: 1rem;
}

.social-media {
  margin: 1rem 0;
}

.social-media > a {
  display: inline-block;
  margin: 0 0.75rem;
}
