/* You can add global styles to this file, and also import other style files */

// global variables

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

a {
  text-decoration: none;
  color: inherit;
}

.spacer {
  flex: 1 1 auto;
}

.w-100 {
  width: 100%;
}

.active {
  color: #ff4081;
}
